html {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #0a0a23;
    color: bisque;
}

h1 {
    width: fit-content;
    color: bisque;
    padding: 1.5rem 1.25rem;
    border: 2px solid #d0d0d5;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
}

.wrapper {
    padding: 1.5rem 1.25rem;
    width: 80%;
    margin: 0 auto;
}

.details {
    border: 2px solid #d0d0d5;    
    padding: 1rem 1.25rem;
    margin: 0.4rem auto;
}




